{% extends "base.html" %} {% block title %}Home Page {% endblock %} {% block page_content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="page-header">
            <h1>Welcome</h1>
        </div>

        <div>
            <h2>Hands on App Engine</h2>
            <h4>This is a Flask web app : to collect user comments. Using boot strap</h4>
            <h6>Data is not stored on the server it will be displayed as an output on the screen.</h6>
            <a class="btn btn-primary" href="{{ url_for('form') }}">Click me to Add Comment</a>

            <hr/>
            <p>{{moment(timestamp).format('LLLL')}}</p>
        </div>
    </div>
</div>
{% endblock %}